/* CSS Document */
body
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0px;
	background-color:#185D5A;

}

form
{
	margin:0px;
	padding:0px;
}

a:link,a:visited,a:hover
{
	text-decoration:none;
}

a:link.leftnav,a:visited.leftnav,a:hover.leftnav
{
	font-size:12px; 
	text-decoration:none;
}

a:link.headnav,a:visited.headnav
{
	color:#000000;
	text-decoration:none;
}

a:hover.headnav
{
	color:#666666;
	text-decoration:none;
}

.star
{
	color:#FF0000;
}

.tablerow1
{
	background-color:#ececec;
}

.tablerow2
{
	background-color:#dddddd;
}

.sub_page_1
{
	background-color:#FFFFCC;
}

.calendar {border: 1px solid #000000; border-collapse: collapse; color: #000000; background: #FFFFFF; }
.today { border: 1px solid #434470; color: #000000; background: #EFEFEF; font-weight: bold;}
.monthdays {border: 1px solid #434470; color: #000000; background-color: #FFFFFFF; }
.nonmonthdays { border: 1px solid #434470; color: #000000; background-color:#CCCCCC;}
